.logo {
color: aquamarine;
font-weight: bold;
font-style: inherit;
}
.logo2 {
    color: rgb(125, 124, 123);
    font-weight: bold;
font-style: inherit;
}

.logo .logo2{
    display: inline;
     float: left; 
}

nav a {
color: aquamarine;

display: block;
line-height: 32px;
padding-top: 0px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
text-align: center;
padding: 20px 50px;
display: inline;
}
h1 {
    color: aquamarine;
    font-size:2cm;
    font-style: oblique;}
.MUMMY{
    display: flex;
    justify-content: space-between;
}
.boxx{
    display: flex;
    justify-content: space-between;
    margin: 1cm;
    padding: 1cm;
    height:5cm ;
}
 #UN{
    background-color: rgb(24, 178, 244);
    color: black;
    font-size: 0.5cm;
 }
#DEUX{
    background-color: aquamarine;
    color: black;
    font-size: 0.5cm;
}
#TROIS{
    background-color: aqua;
    color: black;
    font-size: 0.5cm;
}
.akhdhr{
   background-color: aquamarine;
    display: flex;
    height: 600px;width: 1400px  ;
    
}
#lol{
    font-size:1cm ;
}

.two{
display: flex;

font-size: 0.5cm;
flex-wrap: wrap;
flex-direction: row;

}
.tsawr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    flex-direction:row-reverse;
    padding-right: 1cm;

}
.taswira{
    height: 4cm;
    width: 5cm;
}
.image{
    height: 4cm;
    width: 5cm;
}
.hey{
    height: 4cm;
    width: 5cm;

}
.he{
    height: 4cm;
    width: 5cm;

}

